<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AdmRightTemplateMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.AdmRightTemplate">
    <!--@mbg.generated generated on Fri Aug 21 17:52:16 GMT+08:00 2020.-->
    <!--@Table adm_right_template-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_id" jdbcType="INTEGER" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="resource_id" jdbcType="INTEGER" property="resourceId" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Aug 21 17:52:16 GMT+08:00 2020.-->
    id, department_id, department_name, `level`, resource_id, resource_name, create_time
  </sql>
</mapper>